.blog-card {
    margin-bottom: 30px;

    &:hover {

    }

    img {
        width: 100%;
    }

    >div {
        padding: 0 5px;

        >span {
            font-size: 12px;
            color: $colorA;
        }
    }

    h4 {
        font-size: 24px;
        margin: 15px 0 5px 0;
        font-weight: 500;

        a {
            color: $color7;
        }
    }

    p {
        color: $color7;
    }

    a {
        color: $color-primary-0;

        &:hover {
            color: $color-primary-4;
        }

        i, span {
            display: inline-block;
            vertical-align: middle;
        }

        span {
            color: $color-primary-0;
        }
    }
}

.blog-meta {
    padding: 0 0 5px 0;

    p {
        display: inline-block;
        vertical-align: middle;
        margin: 0 8px 0 0;

        span, i {
            display: table-cell;
            vertical-align: middle;
        }

        span {
            font-size: 14px;
            color: $colorA;
            padding: 0 0 0 5px;
        }

        i {
            font-size: 14px;
            color: $colorA;
        }
    }
}

.blog-recent {
    margin-bottom: 15px;

    &:nth-last-child(1) {
        margin-bottom: 0;
    }

    &:hover {
        h4 {
            color: $color-primary-0;
        }
    }
}

.blog-recent-img {

    img {

    }
}

.blog-recent-post {

    h4 {
        font-size: 16px;
        color: $color3;
        font-weight: 500;
        margin: 0;
    }

    p {
        font-size: 14px;
        color: $color9;
    }
}

.blogp-title {
    font-size: 30px;
    color: $color5;
    margin: 20px 0;        
}

.blogp-post {
    padding: 10px 0 0 0;
    font-size: 16px;
    color: $color7;
}

.blogp-footer {
    background-color: $colorE;
    border-top: 1px solid $colorD;
    margin: 30px 0 0 0;
    padding: 10px;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        list-style: none;
        margin: 5px;

        a {
            display: block;
        }
    }
}

.blogp-author {
    margin: 30px 0 0 0;
}

.blog-author-details {

    h4 {

        a {
            font-family: $fontHeading;
            font-size: 20px;
            color: $color5;
        }
    }

    a {
        font-size: 14px;
        color: $color7;
    }

    p {
        padding: 10px 0 0 0;
        font-size: 14px;
        color: $color3;
    }
}

/* [ COMMENT TABLE CSS START ] */
.comment {
    margin: 30px 0 0 0;
}

.comment-list {
    margin: 0;
    padding: 0;

    >li {
        position: relative;
        list-style: none;
        margin: 0 0 20px 0;
        padding: 0 0 20px 0;
        border-bottom: 1px solid $colorE;

        &:nth-last-child(1) {
            margin: 0;
            padding: 0;
            border-bottom: 0;
        }
    }
}

.comment-img {

    img {
        width: 100%;
    }
}

.second-comment {
    margin: 20px 0 0 17%;
    padding: 20px 0 0 0; 
    border-top: 1px solid $colorE;
}

.comment-meta {

    span {
        display: inline-block;
        font-size: 20px;
        font-family: $fontHeading;
        color: $color5;
        margin: 0 14px 0 0;

        &:nth-last-child(1) {
            padding: 0 0 0 16px;
            font-family: $font;
            font-size: $smallFont;
            color: $color-primary-0;
            border-left: 1px solid $colorD;
        }
    }
}

.comment-post {
    padding: 5px 0 0 0;
    font-size: 13px;
    color: $color5;
    line-height: 20px;
    letter-spacing: .5px;
}

.comment-action {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        display: inline-block;
        margin: 5px;

        a {
            font-size: $smallFont;
            color: $color5;
            padding: 5px;
            cursor: pointer;

            &:hover {
                color: $color-primary-0;
            }
        }

        .fa {
            margin: 0 5px 0 0;
            color: $color9;
        }
    }
}

.comment-form {
    margin: 30px 0 20px 0;

    .mdl-textfield {
        width: 100%;
    }
}