.event-list {
    position: relative;
    margin-bottom: 30px;
    .event-img {
        img {
            width: 100%;
        }
    }

    .event-info {
        position: relative;
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .event-title, .event-date {
        display: table-cell;
        vertical-align: top;
    }

    .event-title {
        padding: 5px 5px 0 15px;
        h3 {
            font-size: 20px;
            color: $color5;
            margin: 0;

            a {
                display: block;
                position: relative;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        p {
            font-size: 12px;
            color: $colorA;
            margin: 0;
        }
    }

    .event-date {
        width: 70px;
        font-size: 18px;
        text-align: center;
        span {
            display: block;
            padding: 10px 8px;
            text-transform: uppercase;
            font-family: $fontHeading;
            color: $colorF;
            background: $color-primary-0;
            &:nth-child(1) {
                font-size: 24px;
                color: $colorF;
                background: $color-dark;
            }
        }
    }

    .event-action {
        padding: 10px 0 0 0;

        a {
            display: inline-block;
            vertical-align: middle;
            width: 36px;
            height: 36px;
            line-height: 36px;
            font-size: 12px;
            text-align: center;
            color: $color3;
            margin: 0 5px 0 0;
            border: 1px solid $colorD;
            border-radius: 50%;

            &:hover {
                color: $colorF;
                background: $color-primary-0;
                border-color: $color-primary-0;
            }

            &.active {
                color: $colorF;
                background: $color-primary-0;
                border-color: $color-primary-0;
            }
        }
    }
}

.eventp-container {
}

.eventp-title {
    margin: 0 0 15px 0;

    h2 {
        font-size: 28px;
        color: $color3;
        margin: 0;
    }

    p {
        color: $color7;
        margin: 0;
    }
}

.eventp-action {
    margin: 0 0 15px 0;
    a {
        display: inline-block;
        vertical-align: middle;
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 12px;
        text-align: center;
        color: $color3;
        margin: 0 5px 0 0;
        border: 1px solid $colorD;
        border-radius: 50%;

        &:hover {
            color: $colorF;
            background: $color-primary-0;
            border-color: $color-primary-0;
        }

        &.active {
            color: $colorF;
            background: $color-primary-0;
            border-color: $color-primary-0;
        }
    }
}

.eventp-social {
    text-align: right;
    padding: 15px;
}

.eventp-amenities {
    padding: 15px 0 0 0;
    border-top: 1px solid $colorD;

    .title {
        font-size: 20px;
        color: $color7;
        padding: 0 0 5px 0;
    }
}

.amenities {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
    overflow: hidden;

    li {
        display: inline-block;
        vertical-align: middle;
        color: rgba(35, 35, 35, 0.8);
        font-size: 15px;
        margin: 10px;
        padding: 5px 10px;
        border: 1px solid $colorD;

        &.yes {
            font-weight: 500;
        }

        &.no {
            opacity: .3;
            text-decoration: line-through;
        }
    }
}

.eventp-footer {
    margin: 15px 0 0 0;
    padding: 10px;
    font-family: $fontHeading;

    p {
        font-size: 20px;
    }
}

.eventp-price {
    padding: 15px;
    margin: 0 0 30px 0;
    background: $color-primary-4;

    .name {
        font-size: 20px;
        color: $colorF;
        margin: 0 0 5px 0;
    }

    .city, .date {
        font-size: 14px;
        color: $colorD;
        margin: 0;
    }

    .price {
        font-size: 48px;
        font-family: $fontHeading;
        color: $colorF;
        text-align: right;
    }

    .purchase {
        text-align: right;
        margin: 15px 0 0 0;
        padding: 15px 0 0 0;
        border-top: 1px solid $color9; 
    }
}

#eventp-loc {
    width: 100%;
    height: 300px;
}

.eventp-address {
    margin: 10px 0 0 0;
    
    p {
        font-size: 16px;
        color: $color5;
        margin: 0;
    }
}

.eventp-sidebar {
    border: 1px solid #fafafa;
}

.eventp-gallery {
    padding: 0;
    margin: 0;
    overflow: hidden;
    li {
        width: 33.33%;
        float: left;
        margin: 0;
        padding: 0 7.5px 15px 7.5px;
    }

    a {
        display: inline-block;

        img {
            width: 100%;
        }
    }
}