#footer {
    width: 100%;
    color: $colorA;
    background: #222;

    .recent {
        padding: 0 0 10px 0;

        .recent-img {
            img {
                width: 100%;
            }
        }

        .recent-post {
            h4 {
                font-size: 16px;
                color: $colorE;
                margin-bottom: 0;
            }

            p {
                font-size: 12px;
                color: $colorA;
            }
        }
    }
}

.footer-block {
    padding: 0 20px;
    &:nth-child(2) {
        border-left: 1px solid $color5;
        border-right: 1px solid $color5;
    }
}

.footer-ttl {
    text-align: center;
    padding: 0 0 10px 20px;
    p {
        position: relative;
        display: inline-block;
        font-size: 20px;
        color: $colorA;
        font-weight: 500;
        font-family: $fontHeading;
        margin: 0;
        text-transform: uppercase;
        padding: 10px;


        &::before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 40px;
            height: 2px;
            background: $colorC;
        }

        &::before {    
            right: 100%;
        }

        &::after {
            left: 100%;
        }
    }
}

.footer-container {
    padding: 20px 30px;
    a {
        display: block;
        font-size: $sMediumFont;
        color: $color-primary-1;
        margin: 10px 0;
    }
}

.footer-b {
    .tbl-cell {
        padding: 0;
        vertical-align: top;
        &:nth-last-child(1) {
            padding: 0 0 0 10px;
        }
    }
    li {
        list-style-type: none;
    }
    p {
        display: block;
    }
    a {
        position: relative;
        display: inline-block;
        margin: 5px 0;
        color: $colorC;
        padding: 0 0 0 10px;
        letter-spacing: .5px;
        &::before {
            content: '';
            position: absolute;
            top: 9px;
            left: 0;
            width: 3px;
            height: 3px;
            background: $colorA;
            border-radius: 50%;
        }
        &:hover {
            color: $color-primary-0;
        }
    }
}

.footer-a {
    .tbl-row {
        &:nth-last-child(1) .tbl-cell {
            border-bottom: 0;
        }
    }
    .tbl-cell {
        padding: 10px;
        border-bottom: 1px solid $color9;
        p {
            color: $colorA;
        }
        i {
            font-size: 28px;
            color: $colorA;
            &.fa-phone {
                font-size: 25px;
            }
            &.fa-envelope {
                font-size: 22px;
            }
        }
        p {
            margin: 0;
        }
    }
}

.footer-subscribe {
    input {
        color: $colorD;
        border-bottom: 1px solid $colorD;
    }
    label {
        color: $colorD;
    }
}

.footer-subscribe-button {
    padding: 10px 0 0 0;
    
    button {
        &:hover {
            color: $colorF;
            opacity: .8;
            background: $color-primary-0;
        }
    }
}

.footer-social {
    padding: 20px 0 0 0;
}

.footer-02 {
    text-align: center;

    .logo {
        padding: 40px 0 40px 0;
        text-align: center;

        img {
            height: 35px;
        }
    }

    .footer-menu {
        display: inline-block;
        border-top: 1px solid #292929;
        border-bottom: 1px solid #292929;
        padding: 20px 0 20px 0;
        margin-bottom: 30px;

        li {
            margin: 10px 30px;
        }
    }

    #copyright {
        padding: 0 0 40px 0;
        background-color: transparent;

        .paragraph-medium {
            color: $color9;
        }
    }
}

.footer-menu {
    padding: 0;
    margin: 0;
    text-align: center;

    li {
        display: block;
        list-style: none;
        margin: 10px;

        a {
            font-family: $fontHeading;
            color: $colorA;
            font-size: 20px;

            &:hover {
                color: $color-primary-0;
            }
        }
    }
}

.footer-menu-inline {

    li {
        display: inline-block;
        vertical-align: middle;
    }
}

.footer-03 {

    .footer-menu-ttl {
        position: relative;
        font-size: 18px;
        color: $colorC;
        padding: 20px 0 10px 0;
        margin: 0 0 30px 0;
        font-family: $fontHeading;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30px;
            height: 2px;
            background-color: $color5;
        }
    }

    .footer-menu {
        text-align: left;

        li {
            a {
                font-size: 16px;
            }
        }
    }

    .logo {
        display: inline-block;

        img {
            height: 60px;
        }
    }

    .footer-top {
        padding: 40px 0;
        border-top: 1px solid #2a2a2a;
    }

    .social-list {
        li {
            margin-bottom: 0;
        }
        a {
            width: auto;
            height: auto;
            line-height: normal;
            i, span {
                display: table-cell;
                vertical-align: middle;
            }

            i {
                padding-right: 10px;
            }
        }
    }
}

.footer-04 {
    margin: 50px 0 0 0;

    .layer-stretch {
        overflow: visible;
    }

    #footer-map {
        width: 100%;
        height: 400px;
        margin-top: -75px;
        box-shadow: 0 0 10px 0 rgba(63,63,63,.8);
    }
}

/* [ FOOTER COPYRIGHT CSS START ] */
#copyright {
    width: 100%;
    padding: 10px 0;
    background: #111;
    .paragraph-medium {
        margin: 0;
        color: $colorA;
        text-align: center;
        text-transform: uppercase;
    }
}

.coming-soon {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../uploads/slider-1.jpg);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .content {
        position: relative;
        z-index: 999;
    }

    .logo {
        position: relative;
        margin: 30px 0;
        display: inline-block;

        img {
            height: 60px;
        }
    }

    .heading {
        text-align: center;

        h1 {
            font-size: 80px;
            font-weight: 600;
            text-transform: uppercase;
            color: $color-warning;
            letter-spacing: 2px;
            font-weight: bold;
            display: block;
        }
    }

    #timer {
        text-align: center;

        span {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 200px;
            height: 200px;
            line-height: 200px;
            font-size: 64px;
            font-weight: 600;
            color: #000;
            margin: 20px;
            background-color: rgba(254, 193, 7, .5);
            border-radius: 50%;
            &::after {
                content: "\e081"; 
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -100px 0 0 -100px;
                width: 100%;
                height: 100%;
                line-height: 200px;
                font-family: 'simple-line-icons';
                font-style: normal;
                font-weight: normal;
                font-size: 150px;
                text-decoration: inherit;
                color: $colorC;
                z-index: -11;
            }

            i {
                font-style: normal;
            }
        }
    }

    .social-list {
        padding: 30px 0 0 0;
        text-align: center;

        li {
            width: auto;
            margin: 20px;
            a {
                font-size: 32px;
                color: $colorE;
            }
        }
    }
}