.gallery-container {
    text-align: center;
    ul {
        position: relative;
        width: 100%;
        font-size: 0;
        padding: 0;
        overflow: hidden;
        li {
            position: relative;
            min-height: 1px;
            width: 25%;
            float: left;
            font-size: 0;
            display: inline-block;
            position: relative;
            overflow: hidden;
            padding: 25% 15px 0 15px;
            cursor: pointer;
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                -webkit-filter: grayscale(60%);
                filter: grayscale(60%);
                -webkit-transition: filter, transform, .4s;
                transition: filter, transform, .4s;
            }
            &:hover {
                img {
                    -webkit-filter: grayscale(0);
                    filter: grayscale(0);
                    transform: scale(1.15);
                }
            }
        }
    }
}

.gallery-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.1);
    padding: 20px;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
}

.gallery-layer-dark {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    font-size: $sMediumFont;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &:hover {
        opacity: 1;
    }
    p {
        position: absolute;
        top: 49%;
        left: 0;
        margin-top: -44px;
        right: 0;
        display: table-cell;
        color: $color-primary-0;
        font-size: 36px;
        z-index: 1;
        .fa {
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            background: rgba(255, 255, 255, 0.9);
            border-radius: 4px;
        }
    }
}