/* [ HEADER CSS START ] */

#header {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 99;
}

#header1 {
    position: relative;
    width: 100%;
}

#hdr-wrapper {
    background: $colorF;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.15);
}

.hdr {
    overflow: visible;
}

.hdr-logo {
    a {
        display: inline-block;
        img {
            max-width: 200px;
            height: 30px;
        }
    }
}

.menu {
    text-align: right;
    margin: 0;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        li {
            position: relative;
            margin: 0;
            display: block;
            width: auto;
            &.row {
                display: flex;
                display: -ms-flexbox;
                -ms-flex-wrap: wrap;
            }
            a {
                position: relative;
                font-size: 16px;
                color: $color3;
                padding: 10px 5px;
                transition: all .4s ease-in-out;
                &::before {
                    content: '';
                    position: absolute;
                    top: 20%;
                    left: 0;
                    width: 0;
                    height: 60%;
                    background: $color-primary-0;
                    transition: all .4s ease-in-out;
                }

                &:hover {
                    color: $color-primary-0;
                    padding-left: 10px; 

                    i {
                        color: $color-primary-0;
                    }
                    &::before {
                        width: 5px;
                    }
                }

                i {
                    color: $color3;
                }
            }
            &:nth-last-child(1) {
                a {
                    border-bottom: 0;
                }
            }

            &.cart-overview {
                .row {
                    display: flex;
                    display: -ms-flexbox;
                    -ms-flex-wrap: wrap;
                }
            }
        }

        &:hover {
            >.menu-dropdown, >.menu-megamenu {
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                -ms-transform: translateY(0px);
                -o-transform: translateY(0px);
                transform: translateY(0px);
            }
        }
    }

    a {
        display: block;
        height: auto;
        min-width: 30px;
        font-weight: 400;
        font-family: $fontHeading;
        text-transform: none;
    }

    >li {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding: 10px 2px;
        >a {
            position: relative;
            line-height: 36px;
            color: $color3;
            font-weight: 500;
            font-size: 18px;
            padding: 10px;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 3px;
                background: $color-primary-0;
                transition: all .3s ease-in-out;
            }
            .fa {
                font-size: $smallFont;
                color: $colorA;
            }
            &.active {
                background: rgba(158, 158, 158, .1);
                &::after { 
                    width: 100%;
                }
            }
            &:hover {
                &::after { 
                    width: 100%;
                }
            }
        }
        a.hdr-search, a.hdr-basket {
            i {
                font-size: 24px;
            }
        }
    }

    .menu-megamenu-li {
        position: static;
    }
    
    >.mobile-menu-close {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 32px;
        height: 32px;
        line-height: 15px;
        text-align: center;
        padding: 8px;
        background-color: #000;
        border-radius: 50%;
        .fa {
            width: 16px;
            height: 16px;
            line-height: 16px;
            font-size: 18px;
            color: $colorE;
        }
    }
}

.search-bar {
    display: table;
    table-layout: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.97);
    animation-duration: .4s;
    display: none;
}

.search-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.search-input {
    position: relative;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;

    input {
        width: 100%;
        font-size: 24px;
        padding: 20px;
        border-bottom: 1px solid $color7;
    }
}

.search-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 48px;
    color: $color3;
    cursor: pointer;
}

.search-close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;

    i {
        font-size: 36px;
        color: $color3;
    }
}


/* [ MEGAMENU CSS START ] */

.menu-megamenu, .menu-dropdown {
    position: absolute;
    left: 0%;
    top: 90%;
    background: $colorF;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    text-align: left;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: all 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -moz-transition: all 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -ms-transition: all 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -o-transition: all 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: all 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,.2);

    li {
        padding: 0;
        border-bottom: 1px solid #EEE;

        &:nth-last-child(1) {
            border-bottom: 0;
        }
    }
}

.menu-megamenu {
    width: 100%;
    padding: 10px;

    >li {
        padding: 15px 10px;
    }
}

.menu-megamenu-small {
    left: auto;
    right: 0;
    max-width: 700px;
}

.menu-megamenu-medium {
    left: auto;
    right: 0;
    max-width: 850px;
}

.cart-count {
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: $colorF;
    background: $color-primary-4;
    border-radius: 50%;
}

.menu-cart {
    left: auto;
    right: 0;
    width: 350px;

    .cart-overview {

        a {
            &::before {
                display: none;
                border: 0;
            }

            &:hover {
                color: $color-primary-0;
                padding-left: 5px;
            }
        }

        .cart-remove {
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 20px;
            color: $color5;
            z-index: 99;

            &:hover {
                i {
                    color: $color-danger;
                }
            }
        }
    }
}

.cart-img {
    img {
        width: 100%;
    }
}

.cart-details {
    span {
        display: block;
        &:nth-last-child(2) {
        }
    }

    .title {
        width: 90%;
        font-size: 18px;
        font-family: $fontHeading;
        color: $color3;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .price {
        font-size: 14px;
        color: $color7;
    }

    .qty {
        font-size: 14px;
        color: $color7;
    }
}

.header-1 {
    position: relative;
    z-index: 11;
}

.header-2 {
    width: 100%;
    background: rgba(54, 72, 101, 0.8);

    .hdr-topbar {
        border-bottom: 1px solid #5d6b82;
    }
    .hdr-menu {
        ul.menu {
            li {
                >a{
                    color: $colorE; 
                }

                li {
                    a {
                        color: $color5;
                    }
                }
            }
        }
    }
}

.hdr-topbar {
    width: 100%;
    border-bottom: 1px solid $colorD;

    .layer-stretch {
        overflow: visible;
    }
}

.hdr-query-block {

    i {
        width: 42px;
        height: 42px;
        line-height: 36px;
        font-size: 20px;
        margin: 0 10px 0 0;
        text-align: center;
        color: $colorF;
        border-radius: 50%;
        background: $color-danger;
        border: 2px dotted $color-danger;
    }
}

.hdr-link {
    a {
        color: $colorD;
    }
    .separator {
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 20px;
        background: $colorD;
    }
}

.hdr-transparent {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,.4);

    .layer-stretch {
        overflow: visible;
    }

    .hdr-menu {
        border-top: 1px solid $colorD;
        ul.menu {
            li {
                >a{
                    color: $colorE; 
                }

                li {
                    a {
                        color: $color5;
                    }
                }
            }
        }
    }

    .hdr-basket, .hdr-search {
        .fa {
            color: $colorE;
        }
    }

    .menu-megamenu-small, .menu-megamenu-medium {
        right: auto;
        left: 0;
    }
}

.page-title-1 {
    padding: 50px 0 40px 0;   
}


/* [ MENU DROPDOWM TABLE CSS START ] */

.menu-dropdown {
    width: 160px;

    li {
        padding: 0 5px 0 10px;
    }

    .menu-dropdown {
        top: 0;
        left: 100%;
        margin-left: 3px; 
    }

    .menu-dropdown-left {
        top: 0;
        left: auto;
        right: 100%;
        margin: 0 3px 0 0; 
    }
}

.megamenu-ttl {
    font-size: 16px;
    font-weight: 500;
    color: $color3;
    padding: 10px 5px;
    text-transform: uppercase;
}

#menu-bar {
    display: none;
    text-align: right;
    a {
        display: inline-block;
    }
    .fa {
        font-size: 28px;
        color: $color7;
        height: 60px;
        line-height: 60px;
        padding: 0 5px;
    }
}

.header-dark {

    .menu {

        > li {
            a {
                color: $colorF;
                
                i {
                    color: $colorE;
                }
            }

            li {
                a {
                    color: $color3;

                    i {
                        color: $color3;
                    }
                }
            }
        }
    }

    #menu-bar {
        .fa {
            color: $colorE;
        }
    }
}

.header-colored {

    .menu {

        > li {

            li {
                a {
                    color: $color3;
                }
            }
            a {
                color: $colorF;

                i {
                    color: $colorE;
                }
            }
        }
    }

    #menu-bar {
        .fa {
            color: $colorE;
        }
    }
}

.header-gradient {

    .menu {

        > li {

            li {
                a {
                    color: $color3;
                }
            }
            a {
                color: $colorF;

                i {
                    color: $colorE;
                }
            }
        }
    }

    #menu-bar {
        .fa {
            color: $colorE;
        }
    }
}


/* [ FIXED HEADER CSS START ] */

.hdr-fixed-light {
    background-color: rgba(255,255,255,.95);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}

.hdr-fixed-dark {
    background-color: rgba(0,0,0,.7);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}

.hdr-fixed-colored {
    background-color: rgba(3, 169, 243, .90);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}

.hdr-fixed-gradient {
    background: $gradientBackground;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}