/* [ BANNER CSS START ] */

#slider {
    height: 670px;
}

.slider-wrapper {
    height: 100%;
    border: 0;
    margin: 0;
    overflow: hidden;
    
    .layer-stretch {
        height: 100%;
        overflow: visible;
    }

    .slides {
        height: 100%;
        li {
            position: relative;
            height: 100%;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255,255,255,.7);
            }
            img {
                width: 100%;
            }
        }
    }  
}

.flex-direction-nav {
    a {
        line-height: 40px;
        &::before {
            color: $color7;
        }
    }
}

.slider-info {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    h1,
    h2 {
        display: inline-block;
        font-size: 54px;
        color: $color5;
        font-weight: 600;
        margin: 0 0 15px 0;
        animation-delay: .4s;

        i {
            font-style: normal;
        }
    }

    p {
        font-size: 18px;
        color: $color7;
        animation-delay: .6s;
    }
}

.slider-button {
    padding: 40px 0 10px 0;

    a.mdl-button {
        font-size: 16px;
        padding: 16px 28px;
    }
}

.slider-backgroung-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-dark {

    .slides {
        li {
            &::after {
                background: rgba(0, 0, 0, .7);
            }
        }
    }


    .flex-direction-nav {
        a {
            &::before {
                color: $colorF;
            }
        }
    }

    .slider-info, .slider-search {
        h1,
        h2 {
            color: $colorF;
        }

        p {
            color: $colorF;
        }
    }
}

.slider-colored {

    .slides {
        li {
            &::after {
                background: $coloredBackground;
            }
        }
    }
}

.slider-gradient {

    .slides {
        li {
            &::after {
                background: $gradientBackground;
            }
        }
    }
}

.slider-half {

    .slider-info {
        width: 50%;
        text-align: left;
        padding: 20px;
    }

    li {
        .slider-bnnr {
            position: absolute;
            top: 28%;
            right: 0;
            text-align: center;
            width: 50%;
            z-index: 111;

            img {
                display: inline-block;
                width: 50%;
            }
        }
    }
}

.slider-search {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    z-index: 9;
    h1,
    h2 {
        display: inline-block;
        font-size: 42px;
        color: $color5;
        font-weight: 500;
        margin: 0 0 15px 0;
        animation-delay: .4s;

        i {
            font-style: normal;
        }
    }

    p {
        font-size: 20px;
        color: $color7;
    }

    .layer-stretch {
        overflow: visible;
    }
}

.slider-search-wrapper {
    width: 100%;
    padding: 16px;
    max-height: 80px;
    background-color: $colorF;
    box-shadow: 0 10px 16px 10px rgba(0, 0, 0, 0.18);
    border-radius: 80px;

    button.submit {
        font-size: 18px;
        font-weight: 500;
        padding: 0 40px;
        margin-right: 1px;
        height: 50px;
        line-height: 26px;
        outline: none;
        background-color: $color-primary-0;
    }

    .main-input {
        border-right: 1px solid #e9e9e9;
        margin-top: 3px;
        position: relative;
        padding: 0 30px;

        input {
            font-size: 16px;
            border: none;
            background: #fff;
            height: 44px;
            line-height: 44px;
            box-shadow: none;
        }

        select {
            border: none;
            padding-top: 2px;
            padding-bottom: 0;
            height: 44px;
            box-shadow: none;
        }

        &:nth-last-child(2) {
            border-right: none;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.slider-card {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 20%;
    right: 5%;
    padding: 30px;
    z-index: 9999;
    opacity: .7;
    background-color: $color-primary-4;

    h1, h2 {
        color: $colorF;
    }

    p {
        color: $colorE;
    }
}

.slider-law {
    .slides {
        li {
            &::after {
                background: rgba(52, 131, 255, 0.5);
            }
        }
    }
}

.slider-transparent {
    .slides {
        li {
            &::after {
                display: none;   
            }
        }
    }
}

.slider-box {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 99;
    margin-top: -125px;

    .box {
        position: relative;
        width: 280px;
        height: 250px;
        padding: 20px;
        text-align: center;
        background: rgba(255,255,255,.8);
        border-radius: 2px;

        &::after {
            content: '';
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
            border: 4px solid $color-danger;
        }

        .title {
            font-size: 24px;
            font-weight: 600;
            font-family: $fontHeading;
            text-transform: uppercase;
            color: $color-primary-4;
        }

        .descr {
            padding: 10px 0;
            span, a {
                display: inline-block;
                vertical-align: middle;
            }
            span {
                font-size: 20px;
            }
        }

        p {
            font-size: 20px;
            font-weight: 400;
            margin: 0 0 10px 0;
            text-transform: uppercase;
            color: $color-primary-0;
        }

        span {
            font-weight: 500;
            font-size: 20px;
            color: $color3;
        }
    }
}



/* [ FEATURE CSS START ] */
.feature {
}

.feature-block {
    background-color: $color-primary-0;

    &:nth-child(1) {
        background-color: $color-primary-4;
    }

    &:nth-child(2) {
        background-color: $color-primary-3;
    }

    &:nth-child(3) {
        background-color: $color-primary-0;
    }

    &:nth-child(4) {
        background-color: $color-primary-2;
    }

    .block {
        padding: 100px 20px;
        text-align: center;

        i {
            font-size: 64px;
            color: $colorF;
        }

        span {
            position: relative;
            display: block;
            font-family: $fontHeading;
            padding: 40px 0 0 0;
            font-size: 24px;
            color: $colorE;

            &::before {
                content: '';
                position: absolute;
                top: 20px;
                left: 50%;
                margin-left: -20px;
                width: 40px;
                height: 2px;
                background-color: $colorD;
            }
        }
    }
}

/* [ DOWNLOAD APP CSS START ] */
.download-app {
    padding: 50px 0;
    background-color: $color-primary-4;

    i {
        font-size: 64px;
        color: $colorD;
        display: inline-block;
        vertical-align: middle;
    }

    h5 {
        font-size: 28px;
        color: $colorF;
    }

    p {
        font-size: 16px;
        color: $colorA;
        margin: 0;
    }
}

.download-app-btn {
    display: inline-block;
    padding: 12px 30px 16px 30px;
    color: $colorD;
    border: 2px solid $colorA;
    border-radius: 4px;
    transition: all .3s;

    &:hover {
        color: $color-primary-0;
        background: $colorF;
        border-color: $colorF;
        i {
            color: $color-primary-0;
        }
    }

    i, span {
        display: inline-block;
        vertical-align: middle;
    }

    i {
        font-size: 20px;
        margin: 0 15px 0 0;
    }

    span {
        font-size: 20px;
        font-family: $fontHeading;
    }
}



