.list {
    padding-bottom: 35px;
    margin-bottom: 30px;
    border-bottom: 1px solid $colorD;

    &:nth-last-child(1) {
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.list-img {

    img {
        width: 100%;

        &:hover {
            opacity: 8;
        }
    }
}

.list-content {

    .title {
        font-size: 24px;
        margin: 0 0 5px 0;
        font-weight: 600;
        a {
            color: $color5;
        }
    }

    .date {
        font-size: $colorA;
    }

    .description {
        font-size: 14px;
        letter-spacing: .5px;
        color: $color9;
    }
}