/** Color en background */
.team {
    background-color: $color-gris-fondo;
}

.team-block {

    background-color: $color-gris-recuadro;

    /** Para poner scroll  */
    .team-description {
       
        > div {
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }

}