.hdr-logo {
    a {
        display: inline-block;
        img {
            max-width: 260px;
            height: 50px;
        }
    }
}


.header-dark.header-dos {

    .menu > li a {
        color: #333 !important;
    }

    
}