#portafolio {

    ul {

        li.col-md-6, li.col-lg-3{
           // padding-left: 0px;
           // padding-right: 0px;
        }

        li.portfolio-img  {
            width:200px;
            max-width: 200px;
        }
    }

    figure.effect-zoe {
        height: 186px;
        max-height: 186px;
        display:table;

        > div {
            display: table-cell;
            vertical-align: middle;
        }
    }


    .portfolio-img figure::before {
        background: transparent;
    }

    .portfolio-wrapper {
        padding: 20px 0 0 50px;
    }
    
}