#slider {
    height: 100vh;
}

/** TODO -el slider tiene que ser full-size (que ocupe todo el alto y ancho de la pantalla) y que no tenga opacidad */
.slider-dark { 

    .slides {
        width:100%;
        position: absolute;
        top:60px;

        li {
            &::after {
                background: rgba(0, 0, 0, 0);
            }
        }
    }
}


.page-ttl.slider-dos{
        background: $white;

        &::before {
            background: $white;
        }

        .page-ttl-container h1 {
            color:#333;
        }

        .page-ttl-container h1::before, h1::after {
            background: $color-primary-0;
        }
    }
